@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap');

:root{
    --header-height: 3.5rem;

    --black-color: hsl(0, 0%, 5%);
    --black-color-light: hsl(0, 0%, 70%);
    --white-color: hsl(0, 0%, 100%);
    --title-color: hsl(0, 0%, 5%);
    --text-color: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 96%);
    
    --body-font: "Poppins", sans-serif;
    --second-font: "Syncopate", sans-serif;
    --biggest-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    --font-regular: 400;
    --font-bold: 700;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1152px){
    :root{
        --biggest-font-size: 4.5rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./img/fondo.jpg');
    background-size: cover;
    animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

/*      Page Productos     */
.contenedor {
    max-width: 100%;
    display: flex;  
    max-height: 100%;
}

.filterContent{
    width: 25%;
}

.filter{
    margin: 50px;
    padding: 30px;
    border-radius: 15px;
    background-color: #2d383e63;
    box-shadow: 5px 0prgba(45, 56, 62, 0.692)rgba(0, 0, 0, 0.2);
}

.filter .item{
    background-color: #D4C9C7;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 15px;
}


.filterContent .submit {
    text-align: center; 
}

.filter .item label{
    color: rgb(82, 82, 82);
    font-size: 15px;
    width: 50%;
    margin: 10px;
}

.filter .item select,
.filter .item input{
    width: 50%;
    margin: 20px;
    border: none;
    background-color: white;
    padding: 9px;
    border-radius: 10px;

    outline: none;
} 

.submit button {
    color: white;
    padding: 10px 50px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    background-color: #2D383E; 
}

.submit button:hover {
    color: black;
    background-color: #eeeeee7e;; 
}

.countResults {
    color: white;
    font-size: xx-large;
    margin-top: 20px; 
    margin-left: 16%;
}


#list{  
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

#list .item{
    background-color: #cfcfcf65;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#list .item:hover{
    transform: scale(1.05); 
}

#list .item img {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
}

#list .item .title{
    font-weight: bold;
}
#list .item .precio{
    margin: 7px;
    color: #f58576;
}

#list .item .detalles{
    cursor: pointer;
    font-family: var(--body-font);
    background-color: #38435852;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
}

#list .item .detalles:hover{
    background-color: #195ddb21;
}

/* Page Tienda */

.conteTienda{
    width: 100%;
    display: flex;
}

.conteTienda .tiendaContent{
    width: 28%;
    background-color: #c4f0b7;
}


.resultBox {
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 20px; 
}

.mapContent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
.mapFrame {
    width: 100%;
    height: 100%;
    border: none;
  }

.header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
    box-shadow:  -1px 0 16px hsla(0, 0%, 0%, .3);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo img{
    width: 4.5rem;
}

.nav__toggle,
.nav__close{
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Navegacion para moviles */
@media screen and (max-width: 1023px) {
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--body-color);
        box-shadow: -1px 0 16px hsla(0, 0%, 0%, .1);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem;
        transition: right .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link{
    color: var(--title-color);
    font-family: var(--second-font);
}

.nav__close{
    position: absolute;
    top: 1.125rem;
    right: 1.5rem;
}

/* Mostrar menud */
.show-menu{
    right: 0;
}

.shadow-header{
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .1)
}

/* HOME */
.home__container{
    position: relative;
    display: grid;
    row-gap: 2rem;
    padding-block: 1rem 4rem;
}

.home__subtitle,
.home__title,
.home__button{
    font-family: var(--second-font);
    color: var(--title-color);
}

.home__button{
    transition: background-color 2s ease, color 2s ease;
}

.home__button:hover{
    background-color: rgb(114, 114, 114);
    color: white;
}

.home__subtitle{
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.home__title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.home__description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.home__button{
    display: inline-block;
    background-color: var(--white-color);
    box-shadow: 0 8px 32px hsla(0, 0%, 0%, .1);
    padding: 1rem 3rem;
    border-radius: 4rem;
    font-weight: var(--font-bold);
    transition: box-shadow .4s;
}

.home__button:hover{
    box-shadow: 0 8px 32px hsla(0, 0%, 0%, .15);
}

.home__social{
    position: absolute;
    top: 10rem;
    right: 0;
    display: grid;
    row-gap: 1rem;
}

.home__social-link{
    display: inline-flex;
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .4s;
}

.home__social-link:hover{
    transform: translateY(-.25rem);
}

.home__images{
    display: grid;
    position: relative;
}

.home__shoes{
    width: 300px;
    margin-inline: auto;
    filter: drop-shadow(10px 7px 10px rgb(164, 248, 196));
}



.home__circle{
    width: 250px;
    height: 250px;
    background: linear-gradient(180deg,
                    hsl(0, 0%, 55%),
                    hsl(0, 0%, 96%));
    border-radius: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
}

.swiper{
    margin-inline: initial;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -2rem;
}

.swiper-pagination-bullet{
    width: 1rem;
    height: .25rem;
    border-radius: 1rem;
    background-color: var(--black-color-light);
    opacity: 1;
    transition: bacground-color .3s, width .3s;
}

.swiper-pagination-bullet-active{
    width: 1.25rem;
    background-color: var(--black-color);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 2px;
}

/* Para dispositivos pequeños */
@media screen and (max-width: 320px){
    .container{
        margin-inline: 1rem;
    }

    .home__title{
        font-size: 2rem;
    }
    
    .home__circle{
        width: 220px;
        height: 220px;
    }
}

/* Para dispositivos medianos */
@media screen and (max-width: 580px){
    .nav__menu{
        width: 60%;
    }

    .home__container{
        grid-template-columns: 350px;
        justify-content: center;
    }

    .home__data{
        text-align: center;
    }
}

/* Para dispositivos grandes */
@media screen and (min-width: 1023px){
    .nav{
        height: calc(var(--header-height) +2rem);
    }
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .nav__menu{
        width: initial;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 4rem;
    }

    .home__container{
        height: 100vh;
        grid-template-columns: repeat(2, 400px);
        place-items: center;
        column-gap: 2rem;
    }

    .home__data{
        text-align: initial;
    }

    .home__social{
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1152px){
    .container{
        margin-inline: auto;
    }

    .home__container{
        grid-template-columns: 430px 600px;
        column-gap: 4.5rem;
    }

    .home__title{
        margin-bottom: 1.25rem;
    }

    .home__description{
        font-size: var(--normal-font-size);
        margin-bottom: 3rem;
    }

    .home__shoes{
        width: 600px;
    }

    .home__circle{
        width: 500px;
        height: 500px;
    }
}

@media screen and (min-width: 1248px){
    .home__social{
        right: -8rem;
    }
    .home__social-link{
        font-size: 1.5rem;
    }
}